<div class="container mt-5">
  
    <div class="jumbotron">
        <div class="form-group">
            <label for="usr">Name:</label>
            <input type="text" class="form-control" id="usr" placeholder="Enter Your Name.." [(ngModel)]="name">
          </div>
          <!-- <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd">
          </div>      -->
    </div>
    <div class="jumbotron">
        <h3>Your name is {{name}}</h3>
    </div>
</div>
