<div class="container">
        <!-- <h1>Hello World!</h1>
        <p>Resize the browser window to see the effect.</p>
        <p>The columns will automatically stack on top of each other when the screen is less than 768px wide.</p> -->
        <div class="row">
          <div class="col-sm-3"><button type="button" class="btn btn-primary" routerLink="/example1">Example 1</button></div>
          <div class="col-sm-3" ><button type="button" class="btn btn-primary" routerLink="/example2">Example 2</button></div>
          <div class="col-sm-3" ><button type="button" class="btn btn-primary"routerLink="/example3">Example 3</button></div>
          <div class="col-sm-3" ><button type="button" class="btn btn-primary" routerLink="/example4">Example 4</button></div>
        </div>
        <div></div>
      </div>
<router-outlet></router-outlet>
